@model IEnumerable<SalonbeautyWeb.Models.Servico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatMarcada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatSolicitacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Situacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DatMarcada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatSolicitacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
